body  /*Bakgrunds färg på alla sidor.*/
{
	background-color: #A3FAFC;/*Ljus blå*/
}

video
{
	width: 300px;
	height: 180px;
}

.Album /*Klass för form, storlek och mellanrum på album bilderna*/
{
	margin-top:80px; /*Flyttar ner den från rubriken som gör att det ser snyggare ut*/
	margin-left:280px; /*Testade mig fram till vad som såg bra ut på min skärm, är dock inte dynamisk så skärmar med annan storlek ser det annorlunda ut för*/
	margin-right:250px; /*Testade mig fram till vad som såg bra ut på min skärm, är dock inte dynamisk så skärmar med annan storlek ser det annorlunda ut för*/
	width:300px; /*Höjden på bilde*/
	height:300px; /*Brädden på bilde*/
	border-radius:50px; /*Gör att albumen får runda hörn*/
}

.sko
{
	width:200px;
	height:150px;
}

#Tyler /*Klass för bilden på tyler*/
{
	width:30em; /*em är relativ till font storleken på sidan, testade mig fram tills bilden såg bra ut*/
	height:20em; /*em är relativ till font storleken på sidan, testade mig fram tills bilden såg bra ut*/
	display: block; /*Gör att jag kan använda auto för att få den i mitten*/
	margin-left:auto; /*Flyttar den automatiskt till mitten*/
	margin-right:auto; /*Flyttar den automatiskt till mitten*/
}

p /*Standard klass för de P taggarna*/
{
	color: black;
	text-align: center; /*Flyttar den automatiskt till mitten*/
	font-family: arial; /*Sätter Fonten*/
	font-size: 25px; /*Font storlek*/
	width: 200px; /*Hur bred texten kan va utan att dela upp sig till en rad under*/
	word-wrap: break-word;/*Får texten att automatiskt dela upp sig i paragrafer*/
	margin: auto; /*Flyttar den automatiskt till mitten*/
}

th, td /*Ändrar storleken på th och td taggen som tilllhör table taggen*/
{
	font-size:30px;
}

li 
{
	font-size: 20px;
}

h1
{
	font-family: arial;
	font-size: 60px;
	text-align: center; /*Flyttar den automatiskt till mitten*/
}

iframe /*Videoklippet*/
{
	width:560px; /*Flyttad hit från inline css, läs mer på Film.html koden vid iframe taggen*/
	height:315px; /*Flyttad hit från inline css, läs mer på Film.html koden vid iframe taggen*/
	display: block; /*Gör att jag kan använda auto för att få den i mitten*/
	margin-left:auto; /*Flyttar den automatiskt till mitten*/
	margin-right: auto; /*Flyttar den automatiskt till mitten*/
	border:0; /*Flyttad hit från inline css, läs mer på Film.html koden vid iframe taggen*/
}

/*Meny koden fick jag av filip men har ändrat på den för att bevisa att jag förstår den, samt tagit bort onödiga koddelar*/


ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#A3FAFC;
}

li
{
	float: left;
}

li > a
{
	display: block;
	color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li > a:hover {
  background-color: rgb(134, 212, 195);
}

li > a:visited
{
	/*färg när man har besökt en sida*/
	background-color:rgb(162, 212, 0);
}

li > a:active
{
	/*fär på linken till sidan man är på*/
	background-color:rgb(50, 50, 130);
}

/*Grid för kläder*/
.grid_kläder
{
	display: grid;
	grid-template-columns:auto auto auto;
}

/*Grid för albumen*/
.grid_album
{
	display: grid;
	grid-template-columns:auto auto;
}





