body 
{
	background-size: 155px auto;
	background-color: #A3FAFC;
}

.Album
{
	margin-top:80px;
	margin-left:280px;
	margin-right:250px;
	background-size:300px;
	width:300px;
	height:300px;
	border-radius:50px;
}

.Tyler
{
	width:30em;
	height:20em;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.NormalP
{
	color: black;
	text-align: center;
	font-family: arial;
	font-size: 40px;
	width: 1000px;
	word-wrap: break-word;
	margin: auto;
	margin-top: 150px;
}

lighter
{
}

th
{
	font-size:30px;
}

h1
{
	font-family: arial;
	font-size: 60px;
	text-align: center;
}
iframe
{
	width:560px;
	height:315px;
	margin-left:570px;
}

/*Meny*/

.meny
{    /*Skapar en grid i meny för att placera länkarna i senare*/
    display:grid;
    /*Bestämmer storleken för columnerna i griden och gör dem alla lika stora (1 fraktions mellanrum)*/
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    /*Gör meny till en grid area som heter nav för att kunna sätta den i sidans grid senare*/
    grid-area: nav;
    /*Ändrar bakgrundfärgen till vit*/
    background-color:white;
    /*Ändrar storleken på texten i globala menyn till 25 pixlar*/
    font-size:25px;
}

.meny nav
{
    /*Sätter texten i mitten*/
    text-align:center;
    /*Ändrar bakgrundsfärgen till blå*/
    background-color:#A3FAFC;
    /*Gör alla div 5% pixlar större åt alla håll*/
    padding:5%;
}

.meny a{
    /*Gör hela naven till ett block så man kommer till länken om man klickar någonstans innanför diven*/
    display:block;
    /*Gör länkarnas texten vit*/
    color:black;
    /*Tar bort understruckingen och så länkarna inte ändrar färg*/
    text-decoration:none;
}

.meny nav:hover{
    /*Gör bakgrunden till svart när man håller muspekaren över dem*/
    background-color:blue;
    /*Gör textens färg till vit när man håller muspekaren över dem*/
    color:white;
}


